*{

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{

    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul li a{

    text-decoration: none;
    
}

div img{


    display: block;
    width: 100%;
    
   


}

.flex-container{

    display: flex;
    margin: auto;
    max-width: 992px;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
}

header{

    background-color: darkblue;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    

}

header h1{
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
}

header .list-items{

    display: flex;
    max-width: 260px;
    width: 100%;
    align-items: center;
    
        

}

.list-items li a{

    color: #fff;
    margin: 8px;
    
    
}

 header .menu{

    justify-content: space-between;
    
}

.apresentacao{

    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{

   
    min-height: 200px;
  

}

.texto-apresentacao h1{

    color: #122A57;
    font-size: 48px;
    margin-bottom: 20px;
}

.texto-apresentacao a{

    text-decoration: none;
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
}

#quem-somos{

    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{

    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 30px;
    
}

#quem-somos h2::before{

    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;

}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{


    min-width: 320px;
    margin: auto;
    

}
.container-externo{

    background-color:#122A57;
    width: 100%;
    

}

#servicos{

    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;

}

#servicos h2{

    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.list-servicos{

    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    align-items: center;
}

.list-servicos .item-servico{

    
    text-align: center;
    max-width: 500px;

}

.item-servico a{

    text-decoration: none;
    width: 120px;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122A57;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.item-servico p{

    font-weight: 700px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    
}

.item-servico img{

    width: 80%;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
    
}

#planos{

    flex-direction: column;
    min-height: 55vh;

}

.list-planos{

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{

    flex: 1;
    border: 5px solid #122A57;
    margin-right: 10px;
    text-align: center;
    max-width: 240px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   
}

.item-plano a{

    color: #fff;
    border-radius: 30px;
    background-color: #122A57;
    text-decoration: none;
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 60px;
    padding: 5px 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.item-plano li{

    margin: 9px;
}

.item-plano h3{

    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    
}

.item-plano h3::after{
 
    content: "" ;
 background-color: #122A57;
 width: 100%;
 height: 3px;
 margin-top: 10px;
 margin-bottom: 10px;
 
}

.item-plano ul{

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.item-plano ul li::before{


    content: "";
    width: 10px;
    background-color: #122A57;
    height: 10px;
    margin-right: 5px;
}

footer{

    background-color: #122A57;
    height: 70px;
    color: #fff;
    display: flex;
    text-align: center;
    
}

footer .footer{

    justify-content: space-around;
    font-size: 20px;
   
}

/* mobile */
@media(max-width: 992px){


    .flex-container{

        flex-direction: column;
        
    }

    .apresentacao{

        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{

        
        width: 100%;
    }


    #quem-somos{

        flex-direction:column-reverse;
        
    }
 
    .list-servicos{

        flex-direction: column;
    }

    .item-servico img{

        width: 50%;
        margin: auto;
    
    }


    .list-planos{

        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        justify-content: space-between;     
    }

    .list-planos .item-plano{
   
        max-width: 100%;
        margin: auto;
        width: 80%;
         
        
    }

    #quem-somos h2{

        font-size: 32px;
        color: #122A57;
        display: inline-flex;
        margin-bottom: 30px;
        text-align: center;

    }
    #quem-somos p{

        margin-bottom: 10px;
        width: 90%;
        padding: 10px;
    
    }

    .texto-apresentacao a{

        text-decoration: none;
        background-color: #122A57;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        display: block;
        margin-top: 10px;
        width: 90%;
        height: 50px;
        line-height: 50px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        
    }
}
